@import '@/01_fundaments/vars';


.malfunctionsSituation {
	display: block;
	width: 100%;
	position: relative;
}

.malfunctionsSituation__loader {
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.malfunctionsSituation__title {
	color: color('theme-3');
	text-align: center;
}

.malfunctionsSituation__inner {
	position: relative;
	padding: gap('xl') 0 0;
}

.malfunctionsSituation__slider {
	@include media('large') {
		padding: 0 120px ;
	}

	position: relative;
	margin: 0  (- gap('xxs'));
	padding: 0 80px ;
}

.malfunctionsSituation__actions {
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 gap('xxs');

	::v-deep svg {
		fill: color('neutrals-7');
	}
}

.malfunctionsSituation__slider__inner {
	display: flex;
	width: 100%;
	overflow: hidden;
}

.malfunctionsSituation__sliderTrack {
	transition: left 250ms ease;
	position: relative;
	left: 0;
	display: flex;
	width: 100%;
}

.malfunctionsSituation__item {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: (100% / 3);
	min-width: 155px;

	flex-shrink: 0;
}

.malfunctionsSituation__item__inner {
	position: relative;
	padding: 0 gap('xxs');
}

.malfunctionsSituation__item__sizer {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-top: 100%;
}

.malfunctionsSituation__item__sizerWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.malfunctionsSituation__item__content {
	position: relative;
	width: 100%;
	height: 100%;
}

.malfunctionsSituation__radio {
	position: absolute;
	left: -999999px;
	opacity: 0;
}

.malfunctionsSituation__radioFaker {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	border: 1.25px solid color('neutrals-5');
	border-radius: 10px;
	background-color: color('neutrals-6');

	.malfunctionsSituation__radio:checked + & {
		border: 2.5px solid color('theme-5');
		background-color: color('light');
		box-shadow: 0 0 0 2.5px color('neutrals-5'), 0 0 0 5px color('neutrals-9');
	}
}

.malfunctionsSituation__checked__symbol {
	@include media('large') {
		width: 32px;
		height: 32px;
	}

	position: absolute;
	top: 15px;
	right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 14px;
	background-color: color('brand-1');
	box-shadow: 0 0 0 1.5px #294B67, 0 0 0 3px #A4AFB5;

	.malfunctionsSituation__radio:checked + .malfunctionsSituation__radioFaker & {
		display: flex;
	}
}

.malfunctionsSituation__checked__theSymbol {
	display: block;
	width: 9px;
	height: 9px;

	::v-deep svg {
		fill: color('light');
	}
}

.malfunctionsSituation__item__symbol {
	display: block;
	width: 55px;
	height: 55px;

	::v-deep svg {
		fill: color('neutrals-1');
	}

	.malfunctionsSituation__radio:checked + .malfunctionsSituation__radioFaker & {
		::v-deep svg {
			fill: color('brand-1');
		}
	}
}

.malfunctionsSituation__item__label {
	@include media('large') {
		font-size: fontSize('s');
	}

	margin-top: gap('s');
	color: color('neutrals-1');
	font-family: font('semibold');
	font-size: fontSize('xs');
	text-align: center;
	text-shadow: .25px .25px 0 color('alt-4');
	text-transform: uppercase;

	.malfunctionsSituation__radio:checked + .malfunctionsSituation__radioFaker & {
		color: color('brand-1');
	}
}
