.input__label {
	display: block;
	margin-bottom: gap('xs');
	color: color('theme-5');
	font-family: font('medium');
	font-size: fontSize('s');
	line-height: 1;

	.is-invalid & {
		color: color('negative');
	}
}
